*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: #fefeff;
    color: #e9e6e4;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-weight: 100;
}

header{
    width: 100%;
    height: 450px;
    padding: 30px 80px;
    background-image: url("../assets/images/banner-bk.jpg");
    background-size: cover;
}

#logoContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    p{
        font-size: large;
    }
}

#startContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2{
        font-size: 55px;
    }

    p{
        max-width: 610px;
    }

    button{
        text-align: center;
        width: 120px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        background-color: #00feac;
        transition: all 200ms;
    }

    button:hover{
        background-color: #02a974;
         transition: all 200ms;
    }
}

#protection{
    width: 100%;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: 30px;
        color: #182540;
    }
}

#protectionContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.protectionItem{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    h3{
        color:#525e85;
    }
    p{
        color: #182540;
    }
    
}

@media (min-width:352px) and (max-width:480px) {

    header{
        height: 600px;
    }
    
    #startContainer{
        margin-top: 40px;
        gap: 35px;
        align-items: center;
        text-align: center;
        h2{
            font-size: 40px;
        }

    }
}

@media (min-width:481px) and (max-width:768px) {

    header{
        height: 700px;
    }
    
    #startContainer{
        margin-top: 80px;
        gap: 60px;
        align-items: center;
        text-align: center;
        h2{
            font-size: 50px;
        }

    }
}

@media (min-width: 352px) and (max-width:900px) {
    
    #protectionContainer{
        gap: 40px;
        flex-direction: column;
        text-align: center;
    }
}