*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: #fefeff;
    color: #e9e6e4;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-weight: 100;
}

header{
    width: 100%;
    height: 450px;
    padding: 30px 100px;
    background-image: url("../assets/images/banner-bk.jpg");
    background-size: cover;
}

#logoContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    p{
        font-size: large;
    }
}

#startContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2{
        font-size: 55px;
    }

    p{
        max-width: 610px;
    }

    button{
        text-align: center;
        width: 120px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        background-color: #00feac;
        transition: all 200ms;
    }

    button:hover{
        background-color: #02a974;
        transition: all 200ms;
    }
}

#protection{
    width: 100%;
    margin-top: 50px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: 30px;
        color: #182540;
    }
}

#protectionContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.protectionItem{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    h3{
        color:#525e85;
    }
    p{
        color: #182540;
    }
    
}

#takeSectionContainer{
    width: 100%;
    padding: 50px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 150px;

    h2{
        font-size: 30px;
        color: #182540;
    }

    p{
        color: #182540;
    }
}

#takeSectionContainer::before{
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00ffad;
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
}

#takeSection,#takeSection2{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;    
    button{
        width: 120px;
        margin-top: 20px;
        background-color: #182540;
        padding: 12px 20px;
        color: #e9e6e4;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        transition: all 200ms;
    }

    button:hover{
        background-color: #131d33;
         transition: all 200ms;
    }
    .takeInfo{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    img{
        width: 500px;
    }
}

#takeSection{
    margin-top: -100px;
}

#sectionPricings{
    width:100%;
    padding: 100px 0px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    background-color:#fefeff;
    color: #182540;
    text-align: center;

    h2{
        font-size: 30px;
    }

    h4{
        font-size: 20px;
        font-weight: 500;
    }

    #number{
        font-size: 60px;
        font-weight: 700;
    }

    p{
        font-size:  small;
        font-weight: 200;
    }
}

#pricingContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    #price{
        padding: 40px 80px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        button{
            text-align: center;
            width: 120px;
            padding-top: 12px;
            padding-bottom: 12px;
            border-radius: 20px;
            margin-top: 20px;
            border: 2px solid #182540;
            background-color: transparent;
            font-weight: bold;
            transition: all 200ms;
        }

        button:hover{
            background-color: #182540;
            transition: all 200ms;
            color: #fefeff;
        }

    }
    #pricePremium{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #fefeff;
        padding: 40px 80px;
        background-color: #182540;
        button{
            text-align: center;
            width: 120px;
            padding-top: 12px;
            padding-bottom: 12px;
            border-radius: 20px;
            margin-top: 20px;
            border: none;            
            font-weight: bold;
            transition: all 200ms;
            background-color: #00ffad;
            color: #131d33;
        }

        button:hover{
            background-color: #02a974;
            transition: all 200ms;
        }
    }
}

#clientsContainer{
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-around;
    background-color: #eceeef;

    img{
        max-width: 25%;
    }
}

#contactContainer{
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/images/contact-bk.jpg");
    background-position: center;
    background-size: cover;
}

#contactUs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    h2{
        font-size: 40px;
    }
    #title{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    #textForm{
        display: flex;
        gap: 20px;
    }
    .inputContet{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    label{
        color: #00feac;
    }

    input,textarea{
        border: 1px solid #00feac;
        background-color: transparent;
        border-radius: 5px;
        color: #fefeff;
    }

    input,textarea:focus{
        border-color: #00feac;
        outline: none;
    }

    input{
        padding: 10px 50px;
    }

    textarea{
        resize: none;
        padding: 20px 10px;
    }

    button{
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 20px;
        margin-top: 20px;
        border: none;            
        font-weight: bold;
        transition: all 200ms;
        background-color: #00ffad;
        color: #131d33;
        }

    button:hover{
        background-color: #02a974;
        transition: all 200ms;
    }
}

footer{
    display: flex;
    padding: 30px 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #182540;

    img{
        border-radius: 50%;
        width: 48px;
        height: 48px;
        transition: all 200ms;
    }

    img:hover{
        scale: 105%;
        transition: all 200ms;
    }

    #iconsContainer{
        display: flex;
        gap: 10px;
    }
}

@media (min-width:352px) and (max-width:480px) {

    header{
        height: 660px;
    }
    
    #startContainer{
        margin-top: 40px;
        gap: 35px;
        align-items: center;
        text-align: center;
        h2{
            font-size: 40px;
        }

    }

    #takeSectionContainer::before{
        clip-path: none;
    }

    #takeSectionContainer{
        text-align: center;
        margin-top: 0px;
    }

    #takeSection{
        margin-top: 0px;
        padding-top: 100px;
    }
}

@media (min-width:481px) and (max-width:768px) {

    header{
        height: 700px;
    }
    
    #startContainer{
        margin-top: 80px;
        gap: 60px;
        align-items: center;
        text-align: center;
        h2{
            font-size: 50px;
        }

    }

    #takeSectionContainer::before{
        clip-path: none;
    }

    #takeSectionContainer{
        margin-top: 50px;
        text-align: center;
    }

    #takeSection{
        padding-top: 100px;
        margin-top: 0px;
    }
    
}

@media (min-width: 352px) and (max-width:900px) {
    
    #protectionContainer{
        gap: 40px;
        flex-direction: column;
        text-align: center;
    }

    #pricingContainer{
        flex-direction: column;
        justify-content: start;
        align-items:center;
        gap: 50px;
    }

    #clientsContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        img{
            max-width: 40%;
        }
    }
}

@media (min-width: 352px) and (max-width:1000px)  {
    #takeSection,#takeSection2{
        flex-direction: column;
        align-items: center;
        gap: 40px;
        img{
            max-width: 100%;
        }
    }
   .takeInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contactContainer{
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }


    .inputContet{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #textForm{
        flex-direction: column;
    }

}

@media (min-width: 1500px) {
    
    #protectionContainer{
        justify-content: space-evenly;
    }

    #pricingContainer{
        justify-content: space-evenly;
    }

    #contactContainer{
        justify-content: space-evenly;
    }

}